<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <script src="./js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/product/">
    <link rel="stylesheet" href="./css/css@3">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/head.css" rel="stylesheet">
    <link href="./css/product.css" rel="stylesheet">
    <style>
            a{
              color: #8e8e88;
               transition: color .15s ease-in-out;
            }

            a:hover {
              color: #c2e4c9;
              text-decoration: none;
              transform: scale(1.1);
            }

            .nav-item{
              text-align: center;
              display: inline-block;
            }

            .img1:hover {
              transform: scale(1.1);
            }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
