<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="./css/bootstrap.min.css" rel="stylesheet">
<div class="sidebar" th:fragment="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">마이페이지</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">장바구니</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">주문내역</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">충전하기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">내 스토어_상품관리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">내 스토어_주문내역</a>
    </li>
  </ul>

  <script src="./js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</div>