<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Ushop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary" >
            <div class="product-device product-device-2 shadow-sm d-none d-md-block" >
                <img src="img/upcycling2.jpg" width="55%">
            </div>
        </div>
        <!-- <hr> -->

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #f3f3f3;">
                <!-- <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" > -->
                <div class="my-3 py-3" >
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img  src="img/1.jpg" width="100%" style="border-radius: 21px 21px 0 0">
                </div>
            </div>


            <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #fdfbfb;">
                <div class="my-3 p-3" >
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img  src="img/2.jpg" width="100%" style="border-radius: 21px 21px 0 0">
                </div>
            </div>

        </div>


        <div class="d-md-flex flex-md-equal w-100 my-md-6 ps-md-6" >
            <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #fdfbfb;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even asdadadada subheading.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img  src="img/main.jpg" width="100%" style="border-radius: 21px 21px 0 0">
                </div>
            </div>

            <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #f3f3f3;">
                <!-- <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" > -->
                <div class="my-3 py-3" >
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; ">
                    <img  src="img/main.jpg" width="100%" style="border-radius: 21px 21px 0 0">
                </div>
            </div>
        </div>

    </main>


    <div th:replace="fragments/footer :: footer" />
    <script src="./js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>
